._grid_controls
  position: fixed
  bottom: 0
  left: 0
  z-index: 999999999

  margin: 0 0 .5em .5em
  padding: .5em 1em 1em

  background-color: #aaa
  color: #f3f3f3

  line-height: 1.5em
  text-align: center
  letter-spacing: .25em
  text-transform: uppercase


._grid_controls_header
  border-bottom: 1px solid #888

  padding .5em 1em .5em
  margin-bottom: 1.5em

  font-size: .6em


._grid_button
  display: inline-block
  background-color: #888
  height: 3em
  width: 47%
  outline: 0


._grid_button_on_off
  margin-right 6%
