@import "../node_modules/sanitize.css/lib/sanitize.styl"

*
  box-sizing: border-box
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

html
  min-height 100%
  position: relative
  margin-bottom 1px

body
  font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', 'Sans-Serif'

  position relative

  font-size 16px
  line-height 28px

  max-width: 980px
  margin-left auto
  margin-right auto

#root
  height: 100%

h1
  position relative
  font-size 28px
  line-height 28*2 px
  text-transform: uppercase
  letter-spacing: 18px
  // padding-top 9px
  // margin-bottom -9px
